.articleTitle {
    color: #2c3e50;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.blogQuote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498dbb2;
    font-weight: 600;
}

hr {
    border: .5  px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}